[user]
	name = Glen Maddern
	email = glen@glenmaddern.com
[color]
	ui = auto
[core]
	excludesfile = /Users/glen/.gitignore
	pager = "delta --syntax-theme=\"TwoDark\" --plus-style=\"syntax bold #001701\" --plus-emph-style=\"syntax bold #064000\" --minus-style=\"syntax bold #240002\" --minus-emph-style=\"syntax bold #64000E\""
[github]
	user = geelen
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	defaultBranch = main
