[user]
	name = Glen Maddern
	email = glen@cloudflare.com
[color]
	ui = auto
[core]
	excludesfile = /Users/glen/.gitignore
	pager = "delta --theme=\"TwoDark\" --plus-color=\"#001701\" --plus-emph-color=\"#064000\" --minus-color=\"#240002\" --minus-emph-color=\"#64000E\""
[github]
	user = geelen
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	defaultBranch = main
